/* Header.css */
.header {
    background-color: #204C6A;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  